<div class="row">

  <%= render 'public/lessons/search', trainer_name: @trainers %>
  <div class="col-8">

    <p id="notice"><%= notice %></p>

    <ul class="nav nav-tabs" role="tablist"  style="justify-content: center;">
      <li class="nav-item">
        <a class="nav-link active" id="lesson1-tab" data-toggle="tab" href="#lesson1" role="tab" aria-controls="lesson1" aria-selected="true">ALL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="lesson2-tab" data-toggle="tab" href="#lesson2" role="tab" aria-controls="lesson2" aria-selected="false">対面</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="lesson3-tab" data-toggle="tab" href="#lesson3" role="tab" aria-controls="lesson3" aria-selected="false">パーソナル(対面)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item4-tab" data-toggle="tab" href="#lesson4" role="tab" aria-controls="lesson4" aria-selected="false">LIVE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="lesson5-tab" data-toggle="tab" href="#lesson5" role="tab" aria-controls="lesson5" aria-selected="false">パーソナル(オンライン)</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="lesson1" role="tabpanel" aria-labelledby="lesson1-tab">
        <% @lessons.each do |lesson| %>
          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <%= lesson.lesson_genre_i18n %>
              </div>
              <div class="col text-right">
                <%= lesson.take_lesson_genre_i18n %>
              </div>
            </div>
            <div class="media">
              <div class="mr-3">
                <%= link_to lesson_path(lesson) do %>
                  <%= attachment_image_tag lesson.trainer, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg",size: "150x150" %>
                <% end %>
              </div>
              <div class="media-body">
                <h3>
                  <%= link_to lesson_path(lesson) do %>
                    <%= lesson.title %>
                  <% end %>
                </h3>
                <h4>担当トレーナー:  <%= lesson.trainer.last_name %><%= lesson.trainer.first_name %></h4>
                <p><%= l lesson.start_time, format: :default %>  (<%= lesson.total_time %>分)</p>
                <p><%= lesson.lesson_word %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="lesson2" role="tabpanel" aria-labelledby="lesson2-tab">This is a text of item#2.</div>
      <div class="tab-pane fade" id="lesson3" role="tabpanel" aria-labelledby="lesson3-tab">This is a text of item#3.</div>
      <div class="tab-pane fade" id="lesson4" role="tabpanel" aria-labelledby="lesson4-tab">This is a text of item#4.</div>
      <div class="tab-pane fade" id="lesson5" role="tabpanel" aria-labelledby="lesson5-tab">This is a text of item#5.</div>
    </div>
  </div>
</div>
