レッスン詳細ページ

<% if current_user.present? %>
  <% if Relationship.find_by(user_id: current_user.id, trainer_id: @lesson.trainer.id).present? %>
    <%= form_with model: @relationships.find_by(user_id: current_user.id), url: relationship_path(@relationships.find_by(user_id: current_user.id)), method: :delete do |f| %>
      <%= f.submit "Unfollow", class: "btn btn-large follow-btn" %>
    <% end %>
  <% else %>
    <%= form_with model: @relationship, url: relationships_path do |f| %>
      <div><%= f.hidden_field :trainer_id %></div>
      <div><%= f.hidden_field :user_id %></div>
      <%= f.submit "Follow", class: "btn btn-large btn-primary follow-btn" %>
    <% end %>
  <% end %>
<% end %>

<%= @lesson.title %>
<%= link_to lesson_trainer_path(@lesson.trainer.id) do %>
<%= @lesson.trainer.last_name %>
<%= @lesson.trainer.first_name %>
<% end %>

<% unless @lesson.address == nil %>
<div id='map'></div>
<% end %>

<style>
#map{
  height: 500px;
  width: 500px;
}
</style>

<script>

  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.lesson.latitude,
        lng: gon.lesson.longitude
      },
      zoom: 12,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.lesson.latitude,
        lng: gon.lesson.longitude
      },
      map: map
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>