レッスン詳細ページ

<% if current_user.present? %>

  <% if @relationships.present? %>

    <%= form_with model: @relationships, url: relationship_path(@relationships), method: :delete do |f| %>
      <%= f.submit "Unfollow", class: "btn btn-large follow-btn" %>
    <% end %>

    <% if @lesson.total_people >= @reserves.count %>
      <%= form_with model: @reserve, url: reserves_path do |f| %>
        <div><%= f.hidden_field :lesson_id %></div>
        <div><%= f.hidden_field :user_id %></div>
        <%= f.submit "予約", class: "btn btn-large btn-primary follow-btn" %>
      <% end %>
    <% elsif @lesson.reserves.find_by(user_id: current_user.id) %>
      <%= link_to "DMを始める", new_room_path(trainer_id: @lesson.trainer.id) %>

      <% case @lesson.reserves.find_by(user_id: current_user.id).take_lesson_status %>
      <% when 'not_held' then %>
        <div>予約済み</div>
      <% when 'held' then %>
        <div>受講済み</div>
      <% else %>
        <div>キャンセル</div>
      <% end %>

    <% else %>

      <div>満員</div>

    <% end %>

  <% else %>
    <%= form_with model: @relationship, url: relationships_path do |f| %>
      <div><%= f.hidden_field :trainer_id %></div>
      <div><%= f.hidden_field :user_id %></div>
      <%= f.submit "Follow", class: "btn btn-large btn-primary follow-btn" %>
    <% end %>
    <div>フォローして予約できます</div>
  <% end %>
<% end %>

<% if current_trainer.present? %>
  <%= link_to "レッスン編集", edit_trainer_lesson_path(@lesson) %>
<% end %>

<%= @lesson.title %>
<%= link_to lesson_trainer_path(@lesson.trainer.id) do %>
<%= @lesson.trainer.last_name %>
<%= @lesson.trainer.first_name %>
<% end %>

<% unless @lesson.address == nil %>
<div id='map'></div>
<% end %>

<style>
#map{
  height: 500px;
  width: 500px;
}
</style>

<script>

  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.lesson.latitude,
        lng: gon.lesson.longitude
      },
      zoom: 12,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.lesson.latitude,
        lng: gon.lesson.longitude
      },
      map: map
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>