<div class="message <%= view %>">
   <div class="upper-message">
      <div class="message-trainer">
        <%= message.trainer.last_name %>
        <%= message.trainer.first_name %>
      </div>
      <div class="message-date">
        <%= l message.created_at %>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <%= message.message %>
      </div>
    </div>
</div>
