<div class="row">
  <% if user_signed_in? %>
<%= render'public/users/sidebar', current_user: @user %>
      <% elsif trainer_signed_in? %>
      <%= render'trainer/trainers/sidebar', current_trainer: @trainer %>
      <% end %>
   <div class="col-8">

     <h3>メッセージ一覧</h3>

<% @rooms.each do |room| %>
    <% if current_user.present? %>
    <div class="row">
          <div class="col-4">
            <div class="text-right"><%= link_to "×", room_path(room), method: :delete %></div>
            <div class="text-center">
              <%= link_to room_path(room.id) do %>
                  <%= attachment_image_tag room.trainer, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg",size: "150x150" %>
              <% end %>

            </div>
            <div class="text-center">
              <%= room.trainer.last_name %><%= room.trainer.first_name %>
              <% if @messages.count != 0 %>
            <%= @messages.count %>
          <% end %>
              </div>
          </div>
        </div>

    <% elsif current_trainer.present? %>

<div class="row">
         <div class="col-6 text-center">
            <% if @messages.count != 0 %>
              <%= @messages.count %>
            <% end %>
            <%= link_to room_path(room.id) do %>
            <%= room.user.last_name %>
            <%= room.user.first_name %>
           <% end %>
           <%= link_to "×", room_path(room), method: :delete %>
          </div>
          </div>



    <% end %>
<% end %>
</div>
</div>