チャットルーム


<% @messages.each do |message| %>
  <% if message.user_id.blank? %>
    TRANER PARTIAL
    <%= render partial: 'public/rooms/trainer_chat', locals: {message: @message, view:'text-right'} %>
  <% else %>
    USER PARTIAL
    <%= render partial: 'public/rooms/user_chat', locals: {message: @message, view:'text-left'} %>
  <% end %>
<% end %>

  <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
    <div class="form-input">
      <%= f.text_field :message, class: 'form-message', placeholder: 'メッセージを入力してください' %>
      <% if current_trainer.present? %>
        <div><%= f.hidden_field :trainer_id, value: current_trainer.id %></div>
        <div><%= f.hidden_field :user_id, value: @room.user.id %></div>
      <% else %>
        <div><%= f.hidden_field :user_id, value: current_user.id %></div>
        <div><%= f.hidden_field :trainer_id, value: @room.trainer.id %></div>
      <% end %>
    </div>
   <%= f.submit '送信', class: 'form-submit' %>
  <% end %>