<div class="row">
    <%= render'trainer/trainers/sidebar', current_trainer: @trainer %>
    <div class="col-8">
      <%= form_with model: @lesson, url: trainer_lesson_path(@lesson.id), local: true do |f| %>
        <%= render 'layouts/errors', model: f.object %>
          <div class="row justify-content-md-center">
            <div class="my-5">
              <div class="form-group row">
                <h5>【レッスン内容】</h5>
              </div>
              <div class="form-group row">
                <%= f.label :title, "タイトル", class: "col-sm-4" %>
                <%= f.text_field :title, required: true, placeholder: "20文字以内", class: "form-control" %>
              </div>
              <div class="form-group row">
                <%= f.label :lesson_word, "レッスン一言", class: "col-sm-5" %>
                <%= f.text_area :lesson_word, required: true, placeholder: "40文字以内", class: "form-control" %>
              </div>

              <div class="form-group row">
                <h5>【レッスン概要】</h5>
              </div>

              <div class="form-inline my-2">
                <div>
                  <%= f.select :lesson_genre, options_for_select_from_enum(Lesson, :lesson_genre) %>
                </div>
                <div>
                  <%= f.select :take_lesson_genre, options_for_select_from_enum(Lesson, :take_lesson_genre) %>
                </div>
              </div>

              <div id="visi", class="form-group row">
                <%= f.label :address, "住所", class: "col-sm-5" %>
                <%= f.text_area :address, class: "form-control" %>
              </div>

              <div class="form-group row">
                <%= f.label :start_time, "レッスン開始", class: "col-sm-5" %>
                <%= f.datetime_field :start_time, class: 'form-control, min: Date.current', step: 300 %>
              </div>

              <div class="form-group row">
                <%= f.label :end_time, "レッスン終了", class: "col-sm-5" %>
                <%= f.datetime_field :end_time, class: 'form-control, min: Date.current', step: 300 %>
              </div>

              <div class="form-group row">
                <%= f.label :total_people, "人数", class: "col-sm-5" %>
                <%= f.text_field :total_people, required: true, class: "form-control" %>
              </div>

              <div class="form-group row">
                <%= f.label :lesson_details, "レッスン詳細", class: "col-sm-5" %>
                <%= f.text_area :lesson_details, required: true, class: "form-control" %>
              </div>

              <div class="form-group row">
                <%= f.label :belongings, "持ち物", class: "col-sm-5" %>
                <%= f.text_area :belongings, required: true, class: "form-control" %>
              </div>

              <div class="form-group row">
                <%= f.submit '編集', class: "btn btn-success" %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>

<script>

var select = document.getElementById("lesson_take_lesson_genre");
select.addEventListener("change",function(event){
  console.log(event.target.value)
  if (event.target.value == "in_person" ||event.target.value == "in_person_personal"){
    document.getElementById("visi").style.visibility="visible";
  }
  else {
    document.getElementById("visi").style.visibility="hidden";
  }
})

</script>