<div class="row">
  <div class="col-3 d-none d-md-block m-3">

    <h6>【氏名】</h6>
    <h1>
      <%= @trainer.last_name %>
      <%= @trainer.first_name %>
    </h1>
    <div>
      <%= attachment_image_tag @trainer, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg",size: "200x200" %>
    </div>
  </div>
  <div class="col-8 text-center m-3">
    <div class="">
        <%= attachment_image_tag @trainer, :pr_image, format: 'jpeg', fallback: "no-image-pr.jpg", class: "pr_image" %>
    </div>
    <h6>【PR】</h6>
    <p><%= @trainer.pr_comment %></p>
    <h6>【都道府県】</h6>
    <p><%= @trainer.prefectures %></p>
    <h6>【資格・実績】</h6>
    <p><%= @trainer.result %></p>
  </div>
</div>