<div class="row">
      <%= render'trainer/trainers/sidebar', current_trainer: @trainer %>
   <div class="col-8">
<h1>トレーナー編集</h1>

   <%= form_with model: @trainer, url: trainer_trainer_path(@trainer.id), local: true do |f| %>

      <%= render 'layouts/errors', model: f.object %>

        <div class="row justify-content-md-center">
            <div class="my-5">
               <div class="mt-2 mb-4">
                  <h5>名前</h5>
               </div>
               <div class="form-inline my-2">
                  <div>
                     　姓　<%= f.text_field :last_name, autofocus: true, placeholder: "令和", class: "form-control" %>
                  </div>
                  <div>
                   　　名　<%= f.text_field :first_name, autofocus: true, placeholder: "道子", class: "form-control" %>
                  </div>
               </div>
               <div class="form-inline my-2">
                  <div>
                     セイ　<%= f.text_field :last_name_kana, autofocus: true, placeholder: "レイワ", class: "form-control" %>
                  </div>
                  <div>
                     　メイ　<%= f.text_field :first_name_kana, autofocus: true, placeholder: "ミチコ", class: "form-control" %>
                  </div>
               </div>
               <div class="form-floating mt-5 mb-2">
                  <%= f.label :pr_comment, "PRコメント", class: "col-sm-3" %>
                  <%= f.text_area :pr_comment, placeholder:"PRコメント",required: true, class:"form-control" %>
               </div>

               <div class="form-group row">
                  <%= f.label :profile_image, "プロフィール画像" %><br>
                  <%= f.attachment_field :profile_image, class:"col-sm-12" %>
               </div>

               <div class="form-group row">
                  <%= f.label :pr_image, "PR画像" %><br>
                  <%= f.attachment_field :pr_image, class:"col-sm-12" %>
               </div>

               <div class="form-group row">
                  <%= f.label :prefectures, "都道府県" %><br>
                  <%= f.select :prefectures, Trainer.prefectures.keys, {}, required: true,class:"form-control col-sm-12" %>
               </div>

               <div class="form-group row">
                  <%= f.label :result, "資格・実績" %><br>
                  <%= f.text_area :result, placeholder:"資格・実績",required: true,class:"form-control col-sm-12" %>
               </div>

               <div class="form-group row">
                  <%= f.submit '変更を保存' ,class: 'btn btn-success'%>
               </div>
            </div>
         </div>
      <% end %>
   </div>
</div>